Repository dhbw-stginf16a/Rebleyama, pull requests merged in 2018-04, with the labels that each got.

#39 Even more transformations towards #18
  client/assets/custommaps/default.tmx
  client/assets/custommaps/testMap.tmx
  client/assets/sounds/drop.wav
  client/assets/sounds/rain.mp3
  client/assets/textures/bucket.png
  client/assets/textures/buildings/basicHouse.png
  client/assets/textures/droplet.png
  client/assets/textures/items/basicFoodItem.png
  client/assets/textures/items/basicIronItem.png
  client/assets/textures/items/basicStoneItem.png
  client/assets/textures/items/basicWoodItem.png
  client/assets/textures/logo/bannerFullRes.jpg
  client/assets/textures/logo/logo64x64.png
  client/assets/textures/logo/logoFullRes.jpg
  client/assets/textures/logo/titlebannerFullRes.jpg
  client/assets/textures/tiles/basicCoalStoneTile40x40.png
  client/assets/textures/tiles/basicForestTile40x40.png
  client/assets/textures/tiles/basicGrassTile40x40.png
  client/assets/textures/tiles/basicIronStoneTile40x40.png
  client/assets/textures/tiles/basicStoneTile40x40.png
  client/assets/textures/tiles/basicWaterTile40x40.png
  client/assets/textures/tiles/tileMapTestMap.png
  client/assets/textures/tiles/tilemap.png
  client/assets/textures/tiles/tilemap.psd
  client/assets/textures/units/basicSoldierUnit.png
  client/src/main/java/de/rebleyama/client/RebleyamaClient.java
Labels: client, high priority

#67 Dispose batch and tiledMap.
  client/src/main/java/de/rebleyama/client/RebleyamaClient.java
Labels: client, enterprise quality

#73 Basics for UI + Minimap
  client/assets/custommaps/default.tmx
  client/assets/uiskin/raw/check-off.png
  client/assets/uiskin/raw/check-on.png
  client/assets/uiskin/raw/cursor.9.png
  client/assets/uiskin/raw/default-pane-noborder.9.png
  client/assets/uiskin/raw/default-pane.9.png
  client/assets/uiskin/raw/default-rect-down.9.png
  client/assets/uiskin/raw/default-rect-pad.9.png
  client/assets/uiskin/raw/default-rect.9.png
  client/assets/uiskin/raw/default-round-down.9.png
  client/assets/uiskin/raw/default-round-large.9.png
  client/assets/uiskin/raw/default-round.9.png
  client/assets/uiskin/raw/default-scroll.9.png
  client/assets/uiskin/raw/default-select-selection.9.png
  client/assets/uiskin/raw/default-select.9.png
  client/assets/uiskin/raw/default-slider-knob.png
  client/assets/uiskin/raw/default-slider.9.png
  client/assets/uiskin/raw/default-splitpane-vertical.9.png
  client/assets/uiskin/raw/default-splitpane.9.png
  client/assets/uiskin/raw/default-window.9.png
  client/assets/uiskin/raw/default.png
  client/assets/uiskin/raw/pack.json
  client/assets/uiskin/raw/selection.png
  client/assets/uiskin/raw/textfield.9.png
  client/assets/uiskin/raw/tree-minus.png
  client/assets/uiskin/raw/tree-plus.png
  client/assets/uiskin/raw/white.png
  client/assets/uiskin/skin/default.fnt
  client/assets/uiskin/skin/uiskin.atlas
  client/assets/uiskin/skin/uiskin.json
  client/assets/uiskin/skin/uiskin.png
  client/src/main/java/de/rebleyama/client/ClientUI.java
  client/src/main/java/de/rebleyama/client/DesktopLauncher.java
  client/src/main/java/de/rebleyama/client/RebleyamaClient.java
Labels: client, libgdx

#79 Tile Interaction via Mouse Click
  client/src/main/java/de/rebleyama/client/RebleyamaClient.java
  client/src/main/java/de/rebleyama/client/TiledMapActor.java
  client/src/main/java/de/rebleyama/client/TiledMapClickListener.java
  client/src/main/java/de/rebleyama/client/TiledMapStage.java
  lib/build.gradle
  lib/src/main/java/de/rebleyama/lib/Lib.java
  lib/src/main/java/de/rebleyama/lib/utils/TileStructureGenerator.java
Labels: client

#85 Implement Tile Generation
  client/src/main/java/de/rebleyama/client/utils/ClientTileStructureGenerator.java
  client/src/main/java/de/rebleyama/client/utils/DataInfusedTileMap.java
  lib/src/main/java/de/rebleyama/lib/game/TileMap.java
  lib/src/main/java/de/rebleyama/lib/utils/TileReplacedEvent.java
  lib/src/main/java/de/rebleyama/lib/utils/TileReplacedListener.java
  lib/src/main/java/de/rebleyama/lib/utils/TileStructureGenerator.java
Labels: client, lib

#102 Implement server architecture
  .vscode/launch.json
  build.gradle
  client/build.gradle
  client/src/main/java/de/rebleyama/client/DesktopLauncher.java
  client/src/main/java/de/rebleyama/client/connection/ServerConnection.java
  client/src/main/java/de/rebleyama/client/net/ClientConnector.java
  gradle/wrapper/gradle-wrapper.properties
  lib/build.gradle
  lib/src/main/java/de/rebleyama/lib/Log.java
  lib/src/main/java/de/rebleyama/lib/gamestate/GameState.java
  lib/src/main/java/de/rebleyama/lib/gamestate/GameStateUpdate.java
  lib/src/main/java/de/rebleyama/lib/net/connection/Connector.java
  lib/src/main/java/de/rebleyama/lib/net/connection/Frame.java
  lib/src/main/java/de/rebleyama/lib/net/connection/InternalPackage.java
  lib/src/main/java/de/rebleyama/lib/net/connection/ReceiverThread.java
  lib/src/main/java/de/rebleyama/lib/net/connection/SenderThread.java
  lib/src/main/java/de/rebleyama/lib/net/message/GamestateReplaceMessage.java
  lib/src/main/java/de/rebleyama/lib/net/message/GamestateRequestMessage.java
  lib/src/main/java/de/rebleyama/lib/net/message/GamestateUpdateMessage.java
  lib/src/main/java/de/rebleyama/lib/net/message/HandshakeMessage.java
  lib/src/main/java/de/rebleyama/lib/net/message/HeartbeatMessage.java
  lib/src/main/java/de/rebleyama/lib/net/message/Message.java
  lib/src/main/java/de/rebleyama/lib/net/message/MessageType.java
  lib/src/main/java/de/rebleyama/lib/net/message/ServerInstruction.java
  lib/src/main/java/de/rebleyama/lib/net/message/ServerInstructionMessage.java
  lib/src/main/java/de/rebleyama/lib/net/util/ByteUtil.java
  lib/src/main/java/de/rebleyama/lib/net/util/NetUtil.java
  lib/src/test/java/de/rebleyama/lib/net/connection/FrameTest.java
  lib/src/test/java/de/rebleyama/lib/net/connection/InternalPackageTest.java
  lib/src/test/java/de/rebleyama/lib/net/util/ByteUtilTest.java
  lib/src/test/java/de/rebleyama/lib/net/util/NetUtilTest.java
  server/build.gradle
  server/src/main/java/de/rebleyama/server/Main.java
  server/src/main/java/de/rebleyama/server/connection/ClientManager.java
  server/src/main/java/de/rebleyama/server/gamestate/GameManager.java
  server/src/main/java/de/rebleyama/server/gamestate/GameTimer.java
  server/src/main/java/de/rebleyama/server/net/MessageManager.java
  server/src/main/java/de/rebleyama/server/net/ServerConnector.java
  server/src/test/java/de/rebleyama/server/connection/ClientManagerTest.java
  server/src/test/java/de/rebleyama/server/connection/GameManagerTest.java
Labels: enterprise quality, lib, server
